* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Noto Sans KR', sans-serif;
}
  
.navbar {
    background-color: black;
    color: white;
    height: 60px;
    padding-left: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
  
header {
    display: flex;
}
  
.todo {
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
  
.new-memo {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
    color: black;
    width: 400px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1.5px solid black;
}
  
.new-memo:focus {
    outline: none;
}
  
button:hover {
    cursor: pointer;
}
  
button:focus {
    outline: none;
}
  
.add {
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 10px;
    border: 1.5px solid black;
}
  
.items {
    list-style: none;
    padding: 0;
    height: 500px;
}
  
.content__checkbox:hover {
    cursor: pointer;
}
  
input:checked + span {
    color: black;
    text-decoration: line-through;
}
  
.item {
    display: flex;
    background-color: white;
    width: 450px;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    justify-content: space-between;
    border: 1.5px solid black;
}
  
.content__text {
    margin-left: 10px;
}
  
.item__delete {
    font-size: 20px;
    border-style: none;
    background-color: transparent;
    padding: 0;
}

.item__delete:hover {
    color: red;
    transform: scale(1.1);
}